<table class="metafields-table">
    <thead>
        <th colspan="2">メタフィールドエリア(サンプル)</th>
    </thead>
    <tbody>
        <tr>
            <td>ブランド</td>
            <td>{{ product.metafields.my_fields.brand }}</td>
        </tr>
        <tr>
            <td>生産地</td>
            <td>{{ product.metafields.my_fields.producing_area  }}</td>
        </tr>
        <tr>
            <td>素材</td>
            <td>{{ product.metafields.my_fields.material }}</td>
        </tr>
        <tr>
            <td>送料</td>
            <td>{{ product.metafields.my_fields.delivery_fee }}</td>
        </tr>
        <tr>
            <td>問合せ番号</td>
            <td>{{ product.metafields.my_fields.inquiry_number }}</td>
        </tr>

    </tbody>
    <tfoot>

        <td colspan="2"><small>*OnlineStore2.0のメタフィールドテーブル事例</small></td>

    </tfoot>
</table>

